.mui-pull-top-pocket{
	top: 64px !important;
}
.homeBody .mui-pull-top-pocket{
	top: 133px !important;
}
.applyBody .mui-pull-top-pocket{
	top: 109px !important;
}
.homeAllotBody .mui-pull-top-pocket{
	top: 133px !important;
}
.homeAllot-allotBody .mui-pull-top-pocket{
	top: 109px !important;
}
.applyBody .mui-pull-top-pocket{
	top: 109px !important;
}
.applyCreditBody .mui-pull-top-pocket{
	top: 109px !important;
}